* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
}

:root {
    --font-family: "Open Sans";

    --color-gray: #efefef;
    --color-brown: #43281c;
    --color-yellow: #fbf2c0;
    --color-beige: #ede1d5;
    --color-chocolate: #885a2d;
    --color-blurywood: #DDB892;
    --color-taupe: #B08968;

    --box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray);
}

.banner {
    width: 100%;
    min-width: 40rem;
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-size: 16px;
    color: var(--color-yellow);
    background-color: var(--color-brown);
}

img {
    height: 1.625rem;
}

.grid-container {
    padding: 2rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    grid-template-areas:
        "order-items   order-payment"
        "order-total   order-total"
        "button         button    ";
}

.box {
    width: 100%;
    padding: 1rem;
    margin: 0rem 1rem 1.25rem 0rem;
    border-radius: 0.25rem;
    box-shadow: var(--box-shadow);
    background-color: var(--color-beige);
}

.title {
    padding-top: .75rem;
    font-size: 16px;
    font-weight: normal;
    color: var(--color-chocolate);
    text-transform: uppercase;
}

.order-items {
    grid-area: order-items;

    padding: 1.25rem 0rem 1.25rem 0rem;
    display: grid;
    grid-template-columns: 2.5rem auto 2.5rem;
    gap: .25rem;
    grid-template-areas:
        "quantity    name    price"
        "   .       custom     .  ";

    border-bottom: 2px solid var(--color-blurywood);

    &:last-child {
        border-bottom: none;
    }
}

.item-quantity {
    grid-area: quantity;
}

.item-name {
    grid-area: name;
    font-weight: bold;
}

.item-price {
    grid-area: price;
    font-weight: bold;
}

.item-customization {
    grid-area: custom;
    font-size: 14px;
    color: var(--color-taupe);
}

.list {
    list-style: none;
}

input {
    width: 100%;
    padding: .25rem;
    margin-bottom: .5rem;
    border: 2px var(--color-chocolate) solid;
    border-radius: 6.25rem;
    display: flex;
    font-size: 18px;
    background-color: var(--color-beige);
}

.input-label {
    position: relative;
    top: 10px;
    left: 25px;
    font-size: 12px;
    color: var(--color-chocolate);
    background-color: var(--color-beige);
}

.cvv {
    max-width: 12.5rem;
}

.order-payment {
    grid-area: order-payment;
}

.order-total {
    grid-area: order-total;

    margin: 1rem;
    display: grid;
    grid-template-columns: 25rem auto 25rem;
    justify-content: center;
    gap: 1.25rem;
    grid-template-areas:
        "subtotal  .   st-amount"
        "tax       .  tax-amount"
        "total     .  total-amount";
    text-align: right;
}

.subtotal {
    grid-area: subtotal;

    display: flex;
    justify-content: center;
}

.st-amount {
    grid-area: st-amount;

    display: flex;
    justify-content: center;
}

.tax {
    grid-area: tax;

    display: flex;
    justify-content: center;
}

.tax-amount {
    grid-area: tax-amount;

    display: flex;
    justify-content: center;
}

.total {
    grid-area: total;

    display: flex;
    justify-content: center;
    font-weight: bold;
}

.total-amount {
    grid-area: total-amount;

    display: flex;
    justify-content: center;
    font-weight: bold;
}

.button {
    grid-area: button;

    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    width: 100%;
    padding: 0.625rem 1.875rem;
    border: none;
    border-radius: 6.25rem;
    font-size: 16px;
    background-color: var(--color-blurywood);
}