* {
    box-sizing: border-box;
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    width: 100%;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    background-color: #43281c;
    width: 100%;
    min-width: 40rem;
    color: #fbf2c0;
    font-size: 16px;
    padding: 1.25rem;
}

img {
    height: 1.625rem;
}

.grid-container {
    display: grid;
    gap: 1rem;
    margin: 0;
    width: 100%;
    justify-content: center;
    padding: 1rem;
    grid-template-areas:
        "order-items   .      order-info"
        "order-items   .   order-payment"
        "order-items   .   order-payment"
        "   .          .   order-payment"
        "order-total  order-total  order-total";
    margin-bottom: 1rem;

    h3 {
        color: #8c5e33;
        margin: 0;
    }
}

.box {
    width: 100%;
    min-width: 25rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: #ede1d5;
}

.title {
    color: #885a2d;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
}

.order-items {
    grid-area: order-items;
    gap: 1rem;
    padding: 1rem 1rem 1rem 0rem;
    display: grid;
    grid-template-columns: 15px auto 40px;
    grid-template-areas:
        "quantity    name    price"
        "   .       custom     .  ";

    border-bottom: 2px solid #DDB892;

    &:last-child {
        border-bottom: none;
    }
}

.item-quantity {
    grid-area: quantity;
}

.item-name {
    grid-area: name;
    font-weight: bold;
}

.item-price {
    grid-area: price;
    font-weight: bold;
}

.item-customization {
    grid-area: custom;
    color: #B08968;
    font-size: 14px;
}

.list {
    list-style: none;
}

.item-details {

    h4 {
        margin: 1rem 0 0 0;
        text-align: left;
    }
}

.order-info {
    grid-area: order-info;

    input {
        border: 2px #885a2d solid;
        border-radius: 1.5rem;
        background-color: #ede1d5;
        width: 100%;
        padding: 1rem;
    }
}

.label {
    position: absolute;
    background-color: #ede1d5;
    color: #885a2d;
}

.order-payment {
    grid-area: order-payment;
}

.order-total {
    grid-area: order-total;
    display: grid;
    place-items: center;
}

button {
    background-color: #deb993;
    border-radius: 0.5rem;
    width: 20rem;
    border: none;
}