* {
    box-sizing: border-box;
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    width: 100%;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    background-color: #43281c;
    width: 100%;
    min-width: 40rem;
    color: #fbf2c0;
    font-size: 16px;
    padding: 1.25rem;
}

img {
    height: 1.625rem;
}

.grid-container {
    display: grid;
    gap: 1rem;
    padding: 2rem;
    grid-template-columns: auto .125rem auto;
    grid-template-areas:
        "order-items   .      order-info"
        "order-items   .   order-payment"
        "order-items   .   order-payment"
        "   .          .   order-payment"
        "   .  order-total       .      "
        "button         button     button";
    margin-bottom: 1rem;
}

.box {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #ede1d5;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
}

.title {
    padding-top: .75rem;
    color: #885a2d;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
}

.order-items {
    grid-area: order-items;
    gap: .75rem;
    padding: 1.25rem 0rem 1.25rem 0rem;
    display: grid;
    grid-template-columns: 15px auto 40px;
    grid-template-areas:
        "quantity    name    price"
        "   .       custom     .  ";

    border-bottom: 2px solid #DDB892;

    &:last-child {
        border-bottom: none;
    }
}

.item-quantity {
    grid-area: quantity;
}

.item-name {
    grid-area: name;
    font-weight: bold;
}

.item-price {
    grid-area: price;
    font-weight: bold;
}

.item-customization {
    grid-area: custom;
    color: #B08968;
    font-size: 14px;
}

.list {
    list-style: none;
}

.order-info {
    grid-area: order-info;

    input {
        border: 2px #885a2d solid;
        border-radius: 1.5rem;
        background-color: #ede1d5;
        width: 100%;
        padding: 1rem;
    }
}

.label {
    position: absolute;
    background-color: #ede1d5;
    color: #885a2d;
}

.order-payment {
    grid-area: order-payment;
}

.order-total {
    grid-area: order-total;
    display: grid;
    justify-content: center;
    gap: 1.25rem;
    margin: 1rem;
    grid-template-columns: 25rem auto 25rem;
    grid-template-areas:
        "subtotal  .   st-amount"
        "tax       .  tax-amount"
        "total     .  total-amount";
}

.subtotal {
    grid-area: subtotal;
    display: flex;
    justify-content: center;
}

.st-amount {
    grid-area: st-amount;
    display: flex;
    justify-content: center;
}

.tax {
    grid-area: tax;
    display: flex;
    justify-content: center;
}

.tax-amount {
    grid-area: tax-amount;
    display: flex;
    justify-content: center;
}

.total {
    grid-area: total;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.total-amount {
    grid-area: total-amount;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.button {
    display: flex;
    grid-area: button;
    justify-content: center;
    width: 100%;
}

button {
    background-color: #deb993;
    border-radius: 6.25rem;
    width: 100%;
    padding: 0.625rem 1.875rem;
    border: none;
    font-size: 16px;
}